body {
    font-family: 'Roboto', sans-serif;
    color: #1C0000;
}

header {
    text-transform: uppercase;
    margin-bottom: 30px;
    background-color: rgba(83, 22, 22, 0.53);
    padding: 10px;
}

h1 {
    line-weight: 200;
}

ul li {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

main {
    margin: 30px;
    padding-bottom: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 5px;
}

.quizForm {
    display: none;
}

button {
    margin: 10px;
    border: #ddd;
    border-radius: 5px;
    width: 25%;
    padding: 10px;
    background-color: rgba(83, 22, 22, 0.53);
    color: black;
}

button:hover {
    cursor: pointer;
    /*background-color: #dbae43;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .crop {
 height: 40vw;
 overflow: hidden;
 }
 
 img {
 width: 100%;
 height: 100%;
 border-radius: 5px;
 } */

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.quizStart {
    font-size: 1rem;
    line-height: 250%;
}

label {
    display: flex;
    color: #0e0d0d;
    text-transform: uppercase;
    cursor: pointer;
    background-color:bisque;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 22px;
}

label:hover, label:focus {
    background-color: rgb(224, 193, 175);
}

fieldset {
    border: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

input:checked {
    border: 8px solid #53161686;
}

input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}

@media screen and (max-width: 1920px) {
    main {
        width: 10%;
        height: auto%;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.5rem;
    }
    .startButton {
        width: 25%;
        margin: 0 auto;
    }
    .submitButton {
        width: 25%;
        margin: 0 auto;
    }
    .correctIcon {
        width: 40%;
        height: auto;
    }
    .wrongIcon {
        width: 40%;
        height: auto;
    }
    .restartButton {
        font-size: 1rem;
        width: 10%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    main {
        width: 50%;
        height: 100%;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.5rem;
    }
    .startButton {
        width: 30%;
        margin: 0 auto;
    }
    .submitButton {
        width: 30%;
        margin: 0 auto;
        font-size: 1rem;
    }
    .correctIcon {
        width: 40%;
        height: auto;
    }
    .wrongIcon {
        width: 40%;
        height: auto;
    }
    .restartButton {
        font-size: 1rem;
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width: 320px) {
    main {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    h1 {
        font-size: 1.5rem;
    }
    .startButton {
        width: 30%;
        margin: 0 auto;
    }
    .submitButton {
        width: 30%;
        margin: 0 auto;
    }
    .correctIcon {
        width: 100%;
        height: auto;
    }
    .wrongIcon {
        width: 100%;
        height: auto;
    }
    .restartButton {
        font-size: 1rem;
        width: 60%;
        margin: 0 auto;
    }
}
